.width-limited {
    width: clamp(360px, 90vw, 1200px);
}

main,
.section-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#carousel-index {
    width: 100%;
}

.nav.tab-navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    border-bottom: solid 1px var(--gray-2);
}

.nav.tab-navigation>a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1em;

}

.nav.tab-navigation>a>div {
    font-size: 1.25em;
    text-align: center;
    color: black;
}

.nav.tab-navigation>.active>div {
    color: var(--green-7);
    border-bottom: solid 2px var(--green-7);
}

#carousel-index {
    width: 100%;
    height: 500px;
    display: flex;
}

#carousel-index div {
    height: 100%;
    width: 100%;
}

#carousel-index .carousel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

